<div class="site-header relative z-50 w-full">
	<div class="flex flex-wrap items-center justify-between py-7 container-fluid">
		<div class="max-w-[100px] w-full relative mr-10 z-50">
			<a href="{{ site.url }}" class="site-header__logo block">
				{% include "partials/logo.twig" %}
			</a>
		</div>

		<button type="button" class="main-nav-toggle m-0 relative z-50 block p-0 overflow-hidden bg-transparent border-0 rounded-none w-10 h-10 hover:bg-transparent md:hidden" aria-expanded="false" aria-controls="primary-menu" aria-label="Navigation button">
			<span class="sr-only">{{ _e('Main Navigation') }}</span>

			<span class="menu-icon absolute inset-0 block h-full m-auto w-8">
				<span class="menu-icon__slice"></span>
				<span class="menu-icon__slice"></span>
				<span class="menu-icon__slice"></span>
			</span>
		</button>

		<nav class="main-nav w-full md:w-auto" id="primary-menu" aria-label="Primary">
			<ul class="menu flex flex-col flex-wrap md:items-center md:flex-row md:space-x-5">
				{% for item in primary_menu.get_items %}
					<li class="relative {{ item.classes | join(' ') }}">
						<a class="block py-3 text-base md:py-0" href="{{ item.get_link }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
